{% load static %}
<!DOCTYPE html>
<html lang='ru'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Тестовая страница</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="upload-container">
            <h2> Загрузите файл</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="fileInput" class="custom-file-label">Выберите файл</label>
                <input type="file" id="fileInput" name="file" required style="display: none;">
                
                <br>
                <button type="submit">Загрузить</button>
            </form>
        </div>
    </body>
</html>