{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Files Metrics</title>
</head>
<body>
    <h1>Uploaded Files and TF-IDF Metrics</h1>

        <h2>{{ file.name }}</h2>
        <p>Uploaded: {{ file.uploaded_at }}</p>
        <table border="1">
            <tr>
                <th>Word</th>
                <th>TF-IDF Score</th>
            </tr>
            {% for word, score in file.tfidf_data.items %}
            <tr>
                <td>{{ word }}</td>
                <td>{{ score }}</td>
            </tr>
            {% endfor %}
        </table>

</body>
</html>